/*devdocs.io*/
/*colorhunt.co get hex add #*/
body{
  background-color: #DBE2EF;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #3f72af;
  border-width: 8px;
  width: 10%;
}

img{
  height: 160px;
  border-radius: 10%;
}

h1{
  color:  #112D4E; 
  
}

h3{
color: #112D4E;

}